{% extends 'base.html' %}

{% block header %}
<div class="container" id="container">
  <h1>{% block title %}Post your Foreign Exchange{% endblock %}</h1>
  <br>
  </div>
{% endblock %}

<!-- Exchange thread post starts -->
{% block content %}  

<div class="container">
<div class="col-md-12">
                  <div class="modal-content">
                      <div class="modal-body">

<!-- Exchange form Starts -->                    
<form class="row g-3" id="exchange_form"  method="POST" >
  <input type="hidden" name="cury" value="nothing">
    <div class="col-md-6 mb-4">
        <label for="base_currency" class="form-label">Exchange</label>
        <select id="base_currency" required class="form-select" name="base_currency" >
          <option selected value="non">Choose Currency</option>
          <option value="USD">USD(US Dollar)</option>
           <option value="NGN">NGN(Nigeria Naira)</option>
            <option value="CAD">CAD(Canadian Dollar)</option>
             <option value="GBP">GBP(British Pounds)</option>
             <option value="YEN">JPY(Japanese Yen)</option>
              <option value="EUR">EUR(Europian Euro)</option>
                <option value="CNY">CNY(Chinese Yuan)</option>
                <option value="AED">AED(UAE Dirham)</option>
                    <option value="TRY">TRY(Turkish Lira)</option>
                    <option value="TWD">TWD(New Taiwan Dolla)</option>
                    <option value="SGD">SGD(Singapore Dollar)</option>
                    <option value="RUB">RUB(Russian Ruble)</option>
                    <option value="SAR">SAR(Saudi Arabian Riyal)</option>
                    <option value="QAR">QAR(Qatari Riyal)</option>
                    <option value="PHP">PHP(Philippine Peso)</option>
                    <option value="MYR">MYR(Malaysian Ringgit)</option>
                    <option value="JPY">JPY(Japanese Yen)</option>
                    <option value="ILS">ILS(Israeli New Shekel)</option>
                    <option value="IRR">IRR(Iranian Rial)</option>
                    <option value="INR">INR(Indian Rupee)</option>
                    <option value="AUD">AUD(Australian Rollar)</option>
                    <option value="XAF">XAF(CFA Franc)</option>
                    <option value="XOF">XOF(CFA Franc)</option>
                    <option value="EGP">EGP(Egyptian Pound)</option>
                    <option value="ERN">ERN(Eritrean Nakfa)</option>
                    <option value="ETB">ETB(Ethiopian Birr)</option>
                    <option value="GHS">GHS(Ghanaian Cedi)</option>
                    <option value="KES">KES(Kenyan Shilling)</option>
                    <option value="KMF">KMF(Comorian Franc)</option>
                    <option value="ZAR">ZAR(South African Rand)</option>
                    <option value="CHF">CHF(Swiss Franc)</option>
                    <option value="COP">COP(Colombian Peso)</option>
                    <option value="BRL">BRL(Brazilian Real)</option>
                    <option value="VES">VES(Venezuelan Bolivar)</option>
                    <option value="MXN">MXN(Mexican Peso)</option>
        </select>
      </div>
    
      <div class="col-md-6 mb-4">
        <label for="quote_currency" class="form-label">For</label><br>
        <select id="quote_currency" required class="form-select" name="quote_currency" onchange="amountToBeSent()">
          <option selected value="non">Choose Currency</option>
          <option value="USD">USD(US Dollar)</option>
           <option value="NGN">NGN(Nigeria Naira)</option>
            <option value="CAD">CAD(Canadian Dollar)</option>
             <option value="GBP">GBP(British Pounds)</option>
             <option value="YEN">JPY(Japanese Yen)</option>
              <option value="EUR">EUR(Europian Euro)</option>
                <option value="CNY">CNY(Chinese Yuan)</option>
                <option value="AED">AED(UAE Dirham)</option>
                    <option value="TRY">TRY(Turkish Lira)</option>
                    <option value="TWD">TWD(New Taiwan Dolla)</option>
                    <option value="SGD">SGD(Singapore Dollar)</option>
                    <option value="RUB">RUB(Russian Ruble)</option>
                    <option value="SAR">SAR(Saudi Arabian Riyal)</option>
                    <option value="QAR">QAR(Qatari Riyal)</option>
                    <option value="PHP">PHP(Philippine Peso)</option>
                    <option value="MYR">MYR(Malaysian Ringgit)</option>
                    <option value="JPY">JPY(Japanese Yen)</option>
                    <option value="ILS">ILS(Israeli New Shekel)</option>
                    <option value="IRR">IRR(Iranian Rial)</option>
                    <option value="INR">INR(Indian Rupee)</option>
                    <option value="AUD">AUD(Australian Rollar)</option>
                    <option value="XAF">XAF(CFA Franc)</option>
                    <option value="XOF">XOF(CFA Franc)</option>
                    <option value="EGP">EGP(Egyptian Pound)</option>
                    <option value="ERN">ERN(Eritrean Nakfa)</option>
                    <option value="ETB">ETB(Ethiopian Birr)</option>
                    <option value="GHS">GHS(Ghanaian Cedi)</option>
                    <option value="KES">KES(Kenyan Shilling)</option>
                    <option value="KMF">KMF(Comorian Franc)</option>
                    <option value="ZAR">ZAR(South African Rand)</option>
                    <option value="CHF">CHF(Swiss Franc)</option>
                    <option value="COP">COP(Colombian Peso)</option>
                    <option value="BRL">BRL(Brazilian Real)</option>
                    <option value="VES">VES(Venezuelan Bolivar)</option>
                    <option value="MXN">MXN(Mexican Peso)</option>
        </select>
      </div>
    
      <div class="col-md-6">
        <label for="amount" class="form-label">Amount</label>
        <input type="number" class="form-control" id="amount" required name="send_amount" 
        onfocus="rateDropdown()" onkeyup="amountToBeSent()"  onkeypress='return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)'  min="1"  max="50000000000">
      </div>
    
      <div class="col-md-6">
         <label for="exchange_rate" class="form-label ">Your Exchange rate</label>
    
          <div class="col-md-12 d-flex  ">
          <input  class="form-control"  required id="exchange_rate" name="exchange_rate" onkeyup="amountToBeSent()" 
          onkeydown="rateDropdown()" onkeypress='return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)'>
       <select id="exchange_rate_cury" value = "" required class="form-select" name="exchange_rate_cury" onchange="amountToBeSent()" >
        
        </select>
        <b>/</b><input  readonly class="input-group-text col-xs-4" name="base_exchange" id="base_exchange">
    </div>
      </div>
    

      <div class="col-md-6">
      <div class="input-group mb-3  input-group-lg" >
      <input type="text" readonly id="amount_to_be_sent" class="form-control" aria-label="Amout that will be sent" aria-describedby="amount_to_be_sent" > 
      <span class="input-group-text" >Will be exchanged</span>
      <button type="reset" name="bt_reset" class="btn btn-primary" onclick="resetInputs()" value="reset">Reset</button>
    </div>
    </div>
      
      <!-- Send options start -->
      <div class="col-md-12">
        <label for="payment_option" class="form-label">Exchange Payment Options:</label>
      
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  id="bank_deposit" name="payment" value="Bank Deposit">
        <label class="form-check-label" for="bank_deposit">Bank Deposit</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  id="paypal" name="payment" value="Paypal">
        <label class="form-check-label" for="paypal">Paypal</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox"  id="debit_credit" name="payment" value="Debit/Credit card">
        <label class="form-check-label" for="debit_credit">Debit/Credit card</label>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox"  id="online" name="payment" value="online">
          <label class="form-check-label" for="online">Online</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="payment" id="others" value="others">
          <label class="form-check-label" for="others">Others</label>
        </div>

      </div>
    </div>
    <!-- Send options end -->
    
  
    
      <div class="col-12 ml-4" id="comDiv">
        <label for="comment">Note</label>
        <textarea class="form-control" id="comment" rows="3" placeholder="Additional information" name="comment" maxlength="200"></textarea>
      </div>
    
      
      <div class="col-12 d-flex justify-content-center mt-3">
        <button type="submit" name="bt_send" class="btn btn-primary" value="send"
        >Post</button>
      </div>
     

    </form>
    <!-- Exchange form Ends -->
</div>
</div>
</div>
</div>


<script>

var focusCount = 0;
selectBox = document.getElementById("exchange_rate_cury");

function rateDropdown() {
  

    focusCount += 1
    var selectBox = document.getElementById("exchange_rate_cury");
    var selectBox = document.getElementById("exchange_rate_cury");
    var base_currency = document.getElementById("base_currency").value;
    var quote_currency = document.getElementById("quote_currency").value;
  
    let user_rate = document.getElementById("exchange_rate").value;
  
    if(base_currency && quote_currency  !=='' && focusCount <= 1){
      let option1 = new Option(quote_currency, quote_currency);
      selectBox.add(option1);
  
      let option2 = new Option(base_currency, base_currency);
      selectBox.add(option2);
      //console.log(focusCount);

      //document.getElementById("base_exchange").innerHTML = quote_currency;
  
    }
    
  }
  
  
  function amountToBeSent() {
  
    let base_currency = document.getElementById("base_currency").value;
    let quote_currency = document.getElementById("quote_currency").value;
    let amount = document.getElementById("amount").value;
    let user_rate = document.getElementById("exchange_rate").value;
    
    let exchange_rate_cury = document.getElementById("exchange_rate_cury").value;
    
    if (base_currency && quote_currency !== '') {

     
        if (exchange_rate_cury == quote_currency) { 
        
      document.getElementById("base_exchange").value = base_currency
  
      let amount_to_be_sent = amount * user_rate; 
         
      document.getElementById("amount_to_be_sent").value =  amount_to_be_sent.toFixed(2) + ' '+ quote_currency;
      
    }
    else if(exchange_rate_cury == base_currency) 
    {
    
    document.getElementById("base_exchange").value = quote_currency;

    
    let amount_to_be_sent = amount / user_rate; 
    document.getElementById("amount_to_be_sent").value =  amount_to_be_sent.toFixed(2) + ' ' + quote_currency;
    }
    
  }
  }
  
  function removeAll() {
    selectBox = document.getElementById("exchange_rate_cury");
    while (selectBox.options.length > 0) {
       selectBox.remove(0);
       
    }
}

  function resetInputs(selectBox){
   removeAll();
   document.getElementById('amount').value = '';
   document.getElementById('exchange_rate').value = '';
   document.getElementById('amount_to_be_sent').value = '';
   document.getElementById("base_exchange").innerHTML = '';
   focusCount  = 0;
   //console.log(focusCount);
   
  }

  //Allows only numbers
  function numnersOnly(e) {
    let char = String.fromCharCode(e.keyCode);
    if (/^[0-9]*$/.test(char)) return true;
    else e.preventDefault();
}

</script>
{% endblock %}
