<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        {% endblock %}
       

<title>{% block title %}{% endblock %} - SwitchFX</title>
</head>


{% from 'bootstrap5/nav.html' import render_nav_item %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('index', 'Home') }}
        {{ render_nav_item('auth.register', 'Signup') }}
        {{ render_nav_item('auth.login', 'Login') }}
        {{ render_nav_item('forex.create', 'Post Forex') }}
        {{ render_nav_item('auth.logout', 'Logout') }}
    </div>
</nav>

<body class="bg-light">


    <header>
        {% block header %}{% endblock %}
    </header>
    <!-- Errors -->
    {% for message in get_flashed_messages() %}
    <div class="flash container">
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            {{ message }} 
        </div>
        </div>
    </div>

    {% endfor %}
    {% block content %}{% endblock %}

   


</body>
</html>