<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}
        {% endblock %}

<title>{% block title %}{% endblock %} - SwitchFX</title>
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1> SwitchFX</h1>
    <ul>
        {% if g.user %}
        <li><span>Username: {{g.user['user_name']}}</span>
        <li><span>Email: {{g.user['email']}}</span>
        <li><span>Name: {{g.user['first_name']}}, {{g.user['last_name']}}</span>
        <li><a href="{{ url_for('auth.logout')}}">Log Out</a>
        {% else %}
        <li><a href="{{ url_for('auth.register') }}">Register</a>
        <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </ul>
</nav>

<body>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }} </div>
    {% endfor %}
    {% block content %}{% endblock %}

   
</section>
</body>
</html>