{% extends 'base.html' %}

{% block content %}

  <div class="container" id="container" >
  <h1>Sign In</h1>
    <form action="" method="post" >
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_name.label }}<br>
            {{ form.user_name(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        
            <p>{{ form.submit(class_="btn btn-primary") }}</p>

        </p>
    </form>
  <a href="{{ url_for('auth.reset')}}"> Forgot password?</a>
  </div>
{% endblock %}
